@model GetWheelColorModelVM

<div style="text-align:center;">

    <div style="padding:10px;">

        <img src="~/@Model.ColorWheelPath" alt="image" width="600px" height="300px" />

    </div>

    <a asp-controller="WheelColorModels" asp-action="UpdateWheelColorModel" asp-route-wheelColorModelId="@Model.Id" class="btn btn-warning"> Update </a>
    <a asp-controller="WheelColorModels" asp-action="deleteWheelColorModel" asp-route-wheelColorModelId="@Model.Id" class="btn btn-danger"> Delete </a>

</div>

<br />
<br />
<br />
<a asp-controller="WheelColorModels" asp-action="GetWheelColorModels" class="btn btn-info"> Go to WheelColorModels </a>