@model GetColorModelVM

<div style="text-align:center;">

    <h6>Name : @Model.Name</h6>

    <div style="padding:10px;">

        <img src="~/@Model.ImagePath" alt="image" width="600px" height="300px" />

    </div>

    <a asp-controller="Colors" asp-action="DeleteColorModel" asp-route-colorModelId="@Model.Id" class="btn btn-danger"> Delete </a>
</div>


<br />
<br />
<br />
<a asp-controller="Colors" asp-action="GetColorModels" class="btn btn-info"> Go to ColorModels </a>
